streamlit==1.31.1
pydantic==1.10.13
PyPDF2==3.0.1
Pillow==10.0.1
langchain-community==0.0.10
langchain-core==0.1.10
langchain-openai==0.0.2
openai==1.6.1
faiss-cpu==1.7.4
paho-mqtt==1.6.1
streamlit-lottie==0.0.5
gTTS==2.4.0
python-dotenv==1.0.0
tiktoken==0.5.2
langchain-text-splitters==0.0.1
